<!DOCTYPE html>
<html lang="en">
<head>
  <title>The project App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>The project App</h1>
  <img src="/image" alt="Random Image" class="main-image">
  <div class="todo-form">
    <label for="todoInput"></label><input type="text" id="todoInput" maxlength="140" placeholder="Create todo" class="todo-input">
    <button id="sendButton">Send</button>
  </div>
  <ul id="todoList" class="todo-list">
    <li>Create todo</li>
    <li>Learn JavaScript</li>
    <li>Learn React</li>
    <li>Build a project</li>
  </ul>
  <footer>
    <p>DevOps with Kubernetes 2025</p>
  </footer>
</body>
</html>
